	@font-face{
		font-family: 'thinfingers';
    	src: url('images/thinfingers-thinfingers-webfont.woff2') format('woff2'),
    	url('images/ThinFingers-ThinFingers.otf'),
        url('images/thinfingers-thinfingers-webfont.woff') format('woff');
		
		font-family: 'laurenscriptregular';
    	src: url('images/laurenscript-webfont.woff2') format('woff2'),
    		url('images/LaurenScript.ttf'),
         	url('images/laurenscript-webfont.woff') format('woff');

}

body{
		background-image: url("images/backg.jpg");
		background-repeat: no-repeat;
   		background-size: cover;
    	height: 100%;	
    	font-family: thinfingers; 
    	font-size: 25px;

	}



	a{
		color: white;
		text-decoration: none;
	}

	h2{
		color: rgba(255, 255, 255, 0.8); 
		text-align: center;
		font-family: laurenscriptregular;
		text-decoration: underline;
	}
	h3{
		color: rgb(255, 255, 255);
		text-align: center;
	}

	nav{
		
		background-color: rgba(00, 22, 21, 0.9);
		width: 140px;
		margin-left: 45px;
		margin-top: 100px;
		position: fixed;


	}
	li>a:link{
		text-decoration: none;
		font-family: thinfingers;
		padding-bottom: 20px;
		color: white;
	
		}

	li{
			text-align: center;
			display: block;
			padding-bottom: 40px;
			padding-top: 10px;
			font-size: 26px;	
			color: white;
			margin-right: 30px;
	}

	a:hover{
		color: #668B8B;
	}



	#content{
		
		padding-top: 20px;
		background-color: rgba(00, 22, 21, 0.9);
		width: 800px;
		height: 2200px;
		margin: 0px auto;
		
	}
	
	#about{
		/*color: rgb(00, 22, 21); */
		color: rgba(255, 255, 255, 0.8); 
		text-align: center;
		width: 400px;
		margin: 0px auto;
		padding: 30px;
		/*background-color: rgba(255, 255, 255, 0.4);*/
		
	/*	border-right: thick solid #B0CBBC;
		border-left: thick solid #B0CBBC;
		border-top: thick solid #B0CBBC;*/
	}

	#hyper{
		/*color: rgb(00, 22, 21); */
		color: rgba(255, 255, 255, 0.8); 
		width: 400px;
		text-align: center;
		margin: 0px auto;
		padding: 30px;
		/*background-color: rgba(255, 255, 255, 0.4);*/
	/*	
		border-right: thick solid #B0CBBC;
		border-left: thick solid #B0CBBC;*/
	}

	#teaser{
		/*color: rgb(00, 22, 21); */
		color: rgba(255, 255, 255, 0.8); 
		width: 400px;
		text-align: center;
		margin: 0px auto;
			padding: 30px;
		/*background-color: rgba(255, 255, 255, 0.4);*/
/*	
		border-right: thick solid #B0CBBC;
		border-left: thick solid #B0CBBC;*/
	}

	#film{
		color: rgba(255, 255, 255, 0.8); 
		width: 400px;
		text-align: center;
		margin: 0px auto;
		padding: 30px;
		/*color: rgb(00, 22, 21); */
		/*background-color: rgba(255, 255, 255, 0.4);*/
		
	/*	border-right: thick solid #555152;
		border-left: thick solid #B0CBBC;
		border-bottom: thick solid #B0CBBC;*/
	}

	h1{
		color: rgba(255, 255, 255, 0.8); 
		font-family: thinfingers;
		font-size: 80px;
	}

	div{
		text-align: center;
		padding-bottom: 20px;

	}
	img{
		width: 700px;
	}

	#images{
		
		background-color: rgba(00, 22, 21, 0.9);
		width: 150px;
		position: fixed;
		top: 10px;
		left: 1320px;
		padding-bottom: 15px;
	
	
	}

	.thumbnail{
		display: block;
		width: 100px;
		height: 100px;
		border: 1px solid white;
		margin: 15px 10px 20px 20px;
	}

	/*#tit:hover{
		background-image: url(images/images/title.PNG);
		position: fixed;
		width: 300px;
		height: 300px;
		top: 10px;
		left: 400px;
		z-index: 50;
	}*/